body {
    font-family: Koulen;
}
.container {
    width: 40%;
}

label {
    font-size: x-large;
    border-bottom: 5px solid #E2AD5C;

    width: 99%;
}

input {
    border-top: 5px solid #E2AD5C;
}
button {
    width: 40%;
    height: 50px;
}

.btn-reset {
    background-color: #E2AD5C;
}

.btn-reset:hover {
    background-color: #ffc061;
}

.custom-shadow {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

#subavatar {
    height: 200px;
    background-color:#E2AD5C;
    width: 200px;
    border-radius: 20px;
    position: absolute;
}

#avatarimg {
    height: 170px;
    width: 170px;
    border-radius: 20px;
    margin: 15px;
}

#avatar {
    width: 200px;
    height: 200px;
    background-color: #ECC995;
    border-radius: 20px;
    margin-top: 30px;
    position: absolute;
}

#palo {
    width: 600px;
    height: 5px;
    background: #E2AD5C;
}

#erregistratup {
    font-size: x-large;
    margin-top: 167px;
    text-align: center;
}

#btnerregistratu {
    background-color: #333;
    color: white;
}