body {
    font-family: Koulen;
    margin: 0;
    overflow-x: hidden;  
}

#navbar {
    background-color: #333;
    color: white;
    height: 100px;
    overflow: visible;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;          
    z-index: 999; /* Asegura que el navbar esté por encima de otros elementos */
        
}

#logo {
    margin-top: 5px;
    margin-left: 15px;
    height: 150px;
    width: 150px;
    position: absolute;
}

#eskaera {
    margin-top: 400px;
    margin-left: 75px;
    height: 250px;
    width: 500px;
    position: absolute;
    z-index: 2;
    border-radius: 20px;
}

#links {
    font-size: xx-large;
    margin-top: 25px;
    margin-left: 160px;
}

.link {
    color: white;
}

.sartu {
    margin-left: auto;
    text-decoration: none;
    font-size: xx-large;
    color: white;
    background-color: #E2AD5C;
    margin-top: 25px;
    margin-right: 30px;
    height: 55px;
    width: 180px;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.3s;
}

.sartu:hover {
    transform: scale(1.2);
}

#links a {
    text-decoration: none;
    margin-left: 30px;
}

#links a:hover {
    color: #E2AD5C;
}
#goiburua{
    color: white;
    background-color: #333;
    padding: 2px;
    text-align: center;
    margin: 0;
}

#goiburua h3 {
    font-size: 100px; /* Tamaño de fuente deseado */
    line-height: 1; /* Ajusta la altura de línea según tus preferencias */
    margin: 0; /* Asegura que no haya márgenes externos */
}



#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding: 10px;
    border-top: 6px solid #E2AD5C;
}


#Linkak, #Kontaktua, #Sozialak, #Logo {
    flex: 1;
    padding: 0 15px; /* Espaciado horizontal entre elementos */
}

#Linkak ul, #Kontaktua ul, #Sozialak ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

#Linkak ul li, #Kontaktua ul li, #Sozialak ul li {
    margin-bottom: 5px;
}

#Linkak h3, #Kontaktua h3, #Sozialak h3 {
    position: relative;
}

#Linkak h3::after, #Kontaktua h3::after, #Sozialak h3::after{
    content: '';
    display: block;
    width: 25%;
    height: 4px;
    background-color: #E2AD5C;
    position: absolute;
    bottom: 0;
    left: 0;
}

#Logo img {
    max-width: 35%;
}

#contenido {
    display: flex;
}

#contenido1 {
    display: flex;
    margin-right: 120px;
}
/*PRIMER DIV CON LA INFORMACION*/
.izquierda {
    margin-top: 20px;
    flex: 1; /* Hace que ocupe el 50% del ancho disponible */
    margin-left: 200px;
}

.izquierda img {
    width: 80%; /* Hace que la imagen ocupe el 100% del ancho del contenedor izquierdo */
    height: 85% ; /* Mantiene la proporción original de la imagen */
    border-radius: 1.5%;
    border: 4px solid #E2AD5C;
    
}
#nortzuk {
    border-bottom: 4px solid #E2AD5C; /* Cambia el ancho y color de la línea según tus preferencias */
    display: inline; /* Hace que la línea se ajuste al ancho del texto */
    padding-bottom: 1px; /* Espacio entre el texto y la línea */
}


.derecha {
    flex: 1; /* Hace que ocupe el 50% del ancho disponible */
    margin-right: 300px;
    margin-top: 10px;
    word-wrap: break-word; /* Hace que las palabras se rompan y hagan salto de línea */
}

.derecha p{
    font-size: 1.5em;
}

/*SEGUNDO DIV CON LA INFORMACION*/


.izquierda2 {
    margin-top: 20px;
    flex: 0.7; /* Hace que ocupe el 50% del ancho disponible */
    margin-left: 200px;
    margin-right: 110px;
}

.izquierda2 p{
    font-size: 1.5em;
}

#zer {
    border-bottom: 4px solid #E2AD5C; /* Cambia el ancho y color de la línea según tus preferencias */
    display: inline; /* Hace que la línea se ajuste al ancho del texto */
    padding-bottom: 1px; /* Espacio entre el texto y la línea */
}


.derecha2 {
    flex: 1; /* Hace que ocupe el 50% del ancho disponible */
    margin-right: 300px;
    margin-top: 10px;
}



.derecha2 img {
    width: 80%; /* Hace que la imagen ocupe el 100% del ancho del contenedor izquierdo */
    height: 85% ; /* Mantiene la proporción original de la imagen */
    border-radius: 1.5%;
    border: 4px solid #E2AD5C;
    margin-top: 15px;   
}

/*ULTIMO DIV DE LA IMAGEN ABAJO DEL TODO*/

.imagenfinal {
    flex: 1; /* Hace que ocupe el 50% del ancho disponible */
    margin-right: 220px;
    margin-top: 20px;
    margin-left: 195px;
}



.imagenfinal img {
    width: 85%; /* Hace que la imagen ocupe el 100% del ancho del contenedor izquierdo */
    height: 85% ; /* Mantiene la proporción original de la imagen */
    border-radius: 1.5%;
    border: 4px solid #E2AD5C;
    margin-top: 15px;   
}
.social-icon {
    font-size: 24px; /* Tamaño del icono */
    color: #0073e6; /* Color del icono, puedes personalizarlo */
    margin-right: 10px; /* Espaciado horizontal entre los íconos */
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
    
}

ul li {
    display: flex;
    align-items: center; /* Alineación vertical al centro */
    margin-bottom: 10px; /* Espaciado vertical entre los elementos de la lista */
}

ul li a {
    text-decoration: none; /* Quita la subrayado de los enlaces */
}

a:visited {
    color: inherit; /* Hereda el color del texto del padre */
    text-decoration: none; /* Quita cualquier decoración de enlace visitado */
}


#profile-picture {
    
    margin-top: 20px;
    margin-right: 20px;
}

#profile-picture img {
    border: 2px solid #E2AD5C; /* Aplica un borde naranja a la foto de perfil */
    border-radius: 12%; /* Hace que la foto de perfil tenga forma circular */
    width: 60px; /* Ajusta el ancho según tus preferencias */
    height: 60px; /* Ajusta el alto según tus preferencias */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#profile-picture img:hover {
    transform: scale(1.2); /* Escala la imagen al 120% de su tamaño original */
    box-shadow: 0 0 10px rgba(226, 173, 92, 0.5); /* Aplica una sombra cuando se pasa el mouse */
}

#username-txt {
    margin-left: auto; /* Coloca la foto de perfil al final del "navbar" */
    margin-top: 30px;
    font-size: 30px;
    margin-right: 20px;
}

.custom-shadow {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

#subavatar {
    height: 200px;
    background-color:#E2AD5C;
    width: 200px;
    border-radius: 20px;
    position: absolute;
}

#avatarimg {
    height: 170px;
    width: 170px;
    border-radius: 20px;
    margin: 15px;
}

#avatar {
    width: 200px;
    height: 200px;
    background-color: #ECC995;
    border-radius: 20px;
    margin-top: 30px;
    position: absolute;
}

/* Estilo para el contenedor del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Estilo para el texto de username */
#username-txt p {
    margin: 0;
}

/* Estilo para el menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E2AD5C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: #333 1px solid;
}

/* Estilo para los enlaces del menú desplegable */
.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 24px;
}

/* Cambia el color al pasar el mouse sobre los enlaces del menú */
.dropdown-content a:hover {
    background-color: grey;
}

/* Muestra el menú desplegable al pasar el mouse sobre el contenedor */
.dropdown:hover .dropdown-content {
    display: block;
}