{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/media/nav_ico.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Koulen">
    <link rel="stylesheet" href="../static/bokatak.css">
    <title>Hozkada-Bokatak</title>
</head>
<body>
    <div id="filtromenu">
        <div id="filtrocontent">
            <div class="dropdown">
                <p>Motak</p>
                <div class="dropdown-content">
                    <div>
                        <label><input type="checkbox" name="haragia"><img src="../static/media/bokatak_img/motak/ico_haragia.png" class="ico_motak" alt=""> Haragia</label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="arraina"><img src="../static/media/bokatak_img/motak/ico_arraina.png" class="ico_motak" alt=""> Arraina</label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="begetarianoa"><img src="../static/media/bokatak_img/motak/ico_begetarianoa.png" class="ico_motak" alt=""> Begetarianoa</label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="beganoa"><img src="../static/media/bokatak_img/motak/ico_beganoa.png" class="ico_motak" alt=""> Beganoa</label>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <p>Alergiak</p>
                <div class="dropdown-content">
                    <div>
                        <label><input type="checkbox" name="opcion4"> Glutena<img src="../static/media/bokatak_img/alergiak/ico_gluten.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion5"> Arrautzak<img src="../static/media/bokatak_img/alergiak/ico_arrautzak.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion6"> Arrainak<img src="../static/media/bokatak_img/alergiak/ico_arrainak.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion7"> Krustazeoak<img src="../static/media/bokatak_img/alergiak/ico_krustazeo.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion8"> Moluskoak<img src="../static/media/bokatak_img/alergiak/ico_gluten.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion9"> Frutu Lehorrak<img src="../static/media/bokatak_img/alergiak/ico_fruitulehorrak.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion10"> Soja<img src="../static/media/bokatak_img/alergiak/ico_soja.png" class="ico_alergiak" alt=""></label>
                    </div>
                </div>
            </div>
                <p>Deskontuak</p>
            </div>
        </div>
    </div>

    <div id="content">
        <div id="bokatacontent">
            {%for bokatak in bokatak%}
            <div class="bokata" data-mota="{{bokatak.mota}}">
                <div class="bokataimg">
                    <img src="{{bokatak.img.url}}" alt="{{bokatak.izena}}">
                </div>
                <div class="bokatainfo">
                    <h2 class="bokatatitulo">{{bokatak.izena}} - <span class="prezioa">{{bokatak.prezioa}}€</span></h2>
                    <p>{{bokatak.deskribapena}}</p>

                    <div class="alergiak">
                        <img src="../" alt="">
                    </div>

                    <input class="karritoragehituinp" type="button" value="karritora gehitu">
                </div>
            </div>
            {%endfor%}
        </div>



        <div id="karrito">
            <div id="karritocontent">
                <p class="karritotitulo">zure produktuak</p>
                <div id="karritoerosketak">
                    <div class="erosketatituloflex">
                        <p>Produktua</p>
                        <p class="kantitateap">Kantitatea</p>
                        <p>Prezioa (€)</p>
                    </div>
                    <table>
                        <tr>
                            <td class="tdprod" align="left"><p>Bocata hozkada</p></td>
                            <td align="left">
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                </select>
                            </td>
                            <td class="tdprez" align="right"><p>2</p></td>
                        </tr>
                        <tr>
                            <td class="tdprod" align="left"><p>Bocata hozkada</p></td>
                            <td align="left">
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                    <option value="">7</option>
                                    <option value="">8</option>
                                    <option value="">9</option>
                                </select></td>
                            <td align="right"><p>2</p></td>
                        </tr>
                    </table>
                </div>
                <input type="checkbox" style="float:left; margin-top: 13px; margin-right: 5px;">
                <p class="karritotitulo"> Edariak</p>
                <div id="karritoedariak">
                    <div class="erosketatituloflex">
                        <p>Produktua</p>
                        <p class="kantitateap">Kantitatea</p>
                        <p>Prezioa (€)</p>
                    </div>
                    <table>
                        <tr>
                            <td align="left" width="60%"><p>Ura 500ml</p></td>
                            <td align="left"><input class="numberinp" type="number" min="0"></td>
                            <td align="right"><p>2</p></td>
                        </tr>
                        <tr>
                            <td align="left"><p>Fanta Naranja</p></td>
                            <td align="left"><input class="numberinp" type="number" min="0"></td>
                            <td align="right"><p>2</p></td>
                        </tr>
                        <tr>
                            <td align="left"><p>Fanta Limon</p></td>
                            <td align="left"><input class="numberinp" type="number" min="0"></td>
                            <td align="right"><p>2</p></td>
                        </tr>
                        <tr>
                            <td align="left"><p>Coca-cola</p></td>
                            <td align="left"><input class="numberinp" type="number" min="0"></td>
                            <td align="right"><p>2</p></td>
                        </tr>
                    </table>
                </div>
                <div id="total">
                    <p class="karritototal">Total</p>
                    <p class="karritototal">45,23</p>
                </div>
                <input id="eskatu" type="button" value="eskatu">
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Escucha el evento de cambio en los checkboxes
            $('input[type="checkbox"]').change(function() {
                // Crear un array para almacenar las categorías seleccionadas
                var categoriasSeleccionadas = [];
                
                // Recorrer todos los checkboxes para determinar cuáles están marcados
                $('input[type="checkbox"]').each(function() {
                    if ($(this).is(':checked')) {
                        categoriasSeleccionadas.push($(this).attr('name'));
                    }
                });
                
                // Mostrar u ocultar los elementos bokata según las categorías seleccionadas
                if (categoriasSeleccionadas.length === 0) {
                    // Si no hay categorías seleccionadas, mostrar todos los elementos
                    $('.bokata').show();
                } else {
                    // Mostrar solo los elementos que coinciden con las categorías seleccionadas
                    $('.bokata').each(function() {
                        var dataMota = $(this).data('mota');
                        if (categoriasSeleccionadas.includes(dataMota)) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>