{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/media/nav_ico.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Koulen">
    <link rel="stylesheet" href="../static/bokatak.css">
    <title>Hozkada-Bokatak</title>
</head>
<body>
    <div id="filtromenu">
        <div id="filtrocontent">
            <div class="dropdown">
                <p>Motak</p>
                <div class="dropdown-content">
                    <div class="checkbox-motak">
                        <div>
                            <label><input type="checkbox" name="haragia"><img src="../static/media/bokatak_img/motak/ico_haragia.png" class="ico_motak" alt=""> Haragia</label>
                        </div>
                        <div>
                            <label><input type="checkbox" name="arraina"><img src="../static/media/bokatak_img/motak/ico_arraina.png" class="ico_motak" alt=""> Arraina</label>
                        </div>
                        <div>
                            <label><input type="checkbox" name="begetarianoa"><img src="../static/media/bokatak_img/motak/ico_begetarianoa.png" class="ico_motak" alt=""> Begetarianoa</label>
                        </div>
                        <div>
                            <label><input type="checkbox" name="beganoa"><img src="../static/media/bokatak_img/motak/ico_beganoa.png" class="ico_motak" alt=""> Beganoa</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <p>Alergiak</p>
                <div class="dropdown-content">
                    <div class="checkbox-alergiak">
                        <div>
                            <label><input type="checkbox" name="Glutena"> Glutena<img src="../static/media/bokatak_img/alergiak/ico_gluten.png" class="ico_alergiak" alt=""></label>
                        </div>
                        <div>
                            <label><input type="checkbox" name="Arrautzak"> Arrautzak<img src="../static/media/bokatak_img/alergiak/ico_arrautzak.png" class="ico_alergiak" alt=""></label>
                        </div>
                        <div>
                            <label><input type="checkbox" name="Arrainak"> Arrainak<img src="../static/media/bokatak_img/alergiak/ico_arrainak.png" class="ico_alergiak" alt=""></label>
                        </div>
                        <div>
                            <label><input type="checkbox" name="Krustazeoak"> Krustazeoak<img src="../static/media/bokatak_img/alergiak/ico_krustazeo.png" class="ico_alergiak" alt=""></label>
                        </div>
                        <div>
                            <label><input type="checkbox" name="Moluskoak"> Moluskoak<img src="../static/media/bokatak_img/alergiak/ico_gluten.png" class="ico_alergiak" alt=""></label>
                        </div>
                        <div>
                            <label><input type="checkbox" name="Frutu lehorrak"> Frutu Lehorrak<img src="../static/media/bokatak_img/alergiak/ico_fruitulehorrak.png" class="ico_alergiak" alt=""></label>
                        </div>
                        <div>
                            <label><input type="checkbox" name="Soja"> Soja<img src="../static/media/bokatak_img/alergiak/ico_soja.png" class="ico_alergiak" alt=""></label>
                        </div>
                    </div>
                </div>
            </div>
                <p>Deskontuak</p>
            </div>
        </div>
    </div>

    <div id="content">
        <div id="bokatacontent">
            {% for bokatak in bokatak %}
            <div class="bokata" data-mota="{{ bokatak.mota }}">
                <div class="bokataimg">
                    <img src="{{ bokatak.img.url }}" alt="{{ bokatak.izena }}">
                </div>
                <div class="bokatainfo">
                    <h2 class="bokatatitulo">{{ bokatak.izena }} - <span class="prezioa">{{ bokatak.prezioa }}€</span></h2>
                    <p>{{ bokatak.deskribapena }}</p>
                    <div class="alergiak">
                        {% for alergia_platerrak in bokatak.alergia_platerra_set.all %}
                            <div data-alergia="{{alergia_platerrak.alergia_id.izena}}">
                                <img src="{{ alergia_platerrak.alergia_id.img.url }}" alt="{{alergia_platerrak.alergia_id.izena}}">
                            </div>
                        {% endfor %}
                    </div>
                    {% csrf_token %}
                    <input class="karritoa-gehitu-inp" type="button" value="Karritoa gehitu" data-platerra-id="{{ bokatak.id }}">
                    <div class="mesedez-ezabatu" style="display: none;"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


        <div id="karrito">
            <div id="karritocontent">
                <p class="karritotitulo">zure produktuak</p>
                <div id="karritoerosketak">
                    {% csrf_token %}
                    <div id="lista-carrito">
                        <!-- Los elementos del carrito se mostrarán aquí dinámicamente -->
                    </div>
                </div>
                <input id="eskatu" type="button" value="eskatu">
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function actualizarFiltros() {
            const checkboxesMotak = Array.from($('.checkbox-motak input[type="checkbox"]:checked')).map(checkbox => $(checkbox).attr('name'));
            const checkboxesAlergiak = Array.from($('.checkbox-alergiak input[type="checkbox"]:checked')).map(checkbox => $(checkbox).attr('name'));
            const productos = Array.from($('.bokata'));

            productos.forEach(producto => {
                const mota = $(producto).data("mota");
                const alergiasProducto = Array.from($(producto).find('.alergiak div')).map(alergia => $(alergia).data("alergia"));
                let productoVisible = true;

                if (checkboxesMotak.length > 0 && !checkboxesMotak.includes(mota)) {
                    productoVisible = false;
                }

                checkboxesAlergiak.forEach(function (alergia) {
                    if (alergiasProducto.includes(alergia)) {
                        productoVisible = false;
                    }
                });

                if (productoVisible) {
                    $(producto).show();
                } else {
                    $(producto).hide();
                }
            });
        }

        $(document).ready(function () {
            $('.checkbox-motak input[type="checkbox"]').change(function () {
                actualizarFiltros();
            });

            $('.checkbox-alergiak input[type="checkbox"]').change(function () {
                actualizarFiltros();
            });

            actualizarFiltros();

            var edariakcheckbox = $("#edariakcheckbox");
            var karritoedariak = $("#karritoedariak");
            
            karritoedariak.hide();

            // Agrega un controlador de eventos al cambio en la casilla de verificación
            edariakcheckbox.change(function () {
            // Verifica el estado actual de la casilla de verificación
            if (edariakcheckbox.is(":checked")) {
                // Si está marcada, muestra el div con una animación
                karritoedariak.show();
            } else {
                // Si no está marcada, oculta el div con una animación
                karritoedariak.hide();
            }
            });
        });

       // Funcion ajax para agregar bocata al carrito
       $(document).ready(function() {

        
    $(".karritoa-gehitu-inp").click(function() {
        var platerra_id = $(this).data("platerra-id");
        var bokataDiv = $(this).closest(".bokata");

        $.ajax({
            type: "POST",
            url: "/bokatak/agregar_bocata_al_carrito/" + platerra_id + "/",  // Ruta correcta sin <int:platerra_id>
            data: {
                csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
                platerra_id: platerra_id  // Pasar platerra_id como un parámetro POST
            },
            success: function(data) {
                // Maneja la respuesta de la vista, p. ej., muestra un mensaje al usuario
                if (data.success) {
                    bokataDiv.find(".mesedez-ezabatu").text("Platera gehitu da zure karritora.");
                      // Actualiza la lista de Platerra en el carrito, solo el carrito seleccionado
        // Después de agregar un elemento, actualiza la lista completa del carrito
        mostrarListaCarrito();
                bokataDiv.find(".mesedez-ezabatu").show();
            }
        }
    });
        
    
// Actualiza la lista de Platerra en el carrito
function mostrarListaCarrito() {
    $.ajax({
        type: "GET",
        url: "/bokatak/lista_carrito/", // Ruta de la vista que obtiene la lista del carrito
       
        success: function (data) {
            $("#lista-carrito").empty(); // Limpia el contenido actual del div
            data.carrito_data.forEach(function (platerra_nombre) {
                $("#lista-carrito").append("<li>" + platerra_nombre + "</li>"); // Agrega elementos al div
            });
        }
    });
}




    });
});




    

    </script>
</body>
</html>