<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../media/nav_ico.png" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Koulen">
    <link rel="stylesheet" href="../static/bokatak.css">
    <title>Hozkada-Bokatak</title>
</head>
<body>
    <div id="filtromenu">
        <div id="filtrocontent">
            <div class="dropdown">
                <p>Motak</p>
                <div class="dropdown-content">
                    <div>
                        <label><input type="checkbox" name="haragia"><img src="./img/ico_haragia.png" class="ico_motak" alt=""> Haragia</label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="arraina"><img src="./img/ico_arraina.png" class="ico_motak" alt=""> Arraina</label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="begetarianoa"><img src="./img/ico_begetarianoa.png" class="ico_motak" alt=""> Begetarianoa</label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="beganoa"><img src="./img/ico_beganoa.png" class="ico_motak" alt=""> Beganoa</label>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <p>Alergiak</p>
                <div class="dropdown-content">
                    <div>
                        <label><input type="checkbox" name="opcion4"> Glutena<img src="./img/alergias/ico_gluten.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion5"> Arrautzak<img src="./img/alergias/ico_arrautzak.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion6"> Arrainak<img src="./img/alergias/ico_arrainak.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion7"> Krustazeoak<img src="./img/alergias/ico_krustazeo.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion8"> Moluskoak<img src="./img/alergias/ico_moluskoa.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion9"> Frutu Lehorrak<img src="./img/alergias/ico_fruitulehorrak.png" class="ico_alergiak" alt=""></label>
                    </div>
                    <div>
                        <label><input type="checkbox" name="opcion10"> Soja<img src="./img/alergias/ico_soja.png" class="ico_alergiak" alt=""></label>
                    </div>
                </div>
            </div>
                <p>Deskontuak</p>
            </div>
        </div>
    </div>

    <div id="content">
        <div id="bokatacontent">
            <div class="bokata">
                <div class="bokataimg">
                    <img src="./img/bokata.jpg" alt="">
                </div>
                <div class="bokatainfo">
                    <h2 class="bokatatitulo">Hozkada bokata - <span class="prezioa">15,20€</span></h2>             
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto ducimus fugit maiores modi culpa. Illo debitis, error assumenda quisquam minima esse nam minus eaque non quis neque at recusandae?</p>
                    <div class="alergiak">
                        <img src="./img/alergias/ico_arrainak.png" alt="">
                        <img src="./img/alergias/ico_krustazeo.png" alt="">
                    </div>
                    <input class="karritoragehituinp" type="button" value="karritora gehitu">
                </div>
            </div>
            <div class="bokata">
                <div class="bokataimg">
                    <img src="./img/bokata.jpg" alt="">
                </div>
                <div class="bokatainfo">
                    <h2 class="bokatatitulo">Hozkada bokata</h2>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto ducimus fugit maiores modi culpa. Illo debitis, error assumenda quisquam minima esse nam minus eaque non quis neque at recusandae?</p>
                    <div class="alergiak">
                        <img src="./img/alergias/ico_arrainak.png" alt="">
                        <img src="./img/alergias/ico_krustazeo.png" alt="">
                    </div>
                    <input class="karritoragehituinp" type="button" value="karritora gehitu">
                </div>
            </div>
            <div class="bokata">
                <div class="bokataimg">
                    <img src="./img/bokata.jpg" alt="">
                </div>
                <div class="bokatainfo">
                    <h2 class="bokatatitulo">Hozkada bokata</h2>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto ducimus fugit maiores modi culpa. Illo debitis, error assumenda quisquam minima esse nam minus eaque non quis neque at recusandae?</p>
                    <div class="alergiak">
                        <img src="./img/alergias/ico_arrainak.png" alt="">
                        <img src="./img/alergias/ico_krustazeo.png" alt="">
                    </div>
                    <input class="karritoragehituinp" type="button" value="karritora gehitu">
                </div>
            </div>
            <div class="bokata">
                <div class="bokataimg">
                    <img src="./img/bokata.jpg" alt="">
                </div>
                <div class="bokatainfo">
                    <h2 class="bokatatitulo">Hozkada bokata</h2>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto ducimus fugit maiores modi culpa. Illo debitis, error assumenda quisquam minima esse nam minus eaque non quis neque at recusandae?</p>
                    <div class="alergiak">
                        <img src="./img/alergias/ico_arrainak.png" alt="">
                        <img src="./img/alergias/ico_krustazeo.png" alt="">
                    </div>
                    <input class="karritoragehituinp" type="button" value="karritora gehitu">
                </div>
            </div>
            <div class="bokata">
                <div class="bokataimg">
                    <img src="./img/bokata.jpg" alt="">
                </div>
                <div class="bokatainfo">
                    <h2 class="bokatatitulo">Hozkada bokata</h2>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto ducimus fugit maiores modi culpa. Illo debitis, error assumenda quisquam minima esse nam minus eaque non quis neque at recusandae?</p>
                    <div class="alergiak">
                        <img src="./img/alergias/ico_arrainak.png" alt="">
                        <img src="./img/alergias/ico_krustazeo.png" alt="">
                    </div>
                    <input class="karritoragehituinp" type="button" value="karritora gehitu">
                </div>
            </div>
            <div class="bokata">
                <div class="bokataimg">
                    <img src="./img/bokata.jpg" alt="">
                </div>
                <div class="bokatainfo">
                    <h2 class="bokatatitulo">Hozkada bokata</h2>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto ducimus fugit maiores modi culpa. Illo debitis, error assumenda quisquam minima esse nam minus eaque non quis neque at recusandae?</p>
                    <div class="alergiak">
                        <img src="./img/alergias/ico_arrainak.png" alt="">
                        <img src="./img/alergias/ico_krustazeo.png" alt="">
                    </div>
                    <input class="karritoragehituinp" type="button" value="karritora gehitu">
                </div>
            </div>
            <div class="bokata">
                <div class="bokataimg">
                    <img src="./img/bokata.jpg" alt="">
                </div>
                <div class="bokatainfo">
                    <h2 class="bokatatitulo">Hozkada bokata</h2>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto ducimus fugit maiores modi culpa. Illo debitis, error assumenda quisquam minima esse nam minus eaque non quis neque at recusandae?</p>
                    <div class="alergiak">
                        <img src="./img/alergias/ico_arrainak.png" alt="">
                        <img src="./img/alergias/ico_krustazeo.png" alt="">
                    </div>
                    <input class="karritoragehituinp" type="button" value="karritora gehitu">
                </div>
            </div>
            
        </div>
        <div id="carritocontent">
            karrito
        </div>
    </div>

    <script>

    </script>
</body>
</html>