{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/media/nav_ico.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Koulen">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!-- bootstrap -->
    <link rel="stylesheet" href="../../static/register_user.css">

    <title>Hozkada</title>
</head>
<body>
    <div id="navbar">
        <a href=""><img id="logo" src="../static/media/logo.png" alt=""></a>
        <div id="links">
            <a class="link" href="/">Hasiera</a>
            <a class="link" href="/bokatak">Bokatak</a>
            <a class="link" href="">Deskontuak</a>
        </div>
        {% if user.is_authenticated %}
        <div id="username-txt" class="dropdown">
            <p>@Username</p>
            <div class="dropdown-content">
                <a href="#">PERFILA</a>
                <a href="#">ESKAERA</a>
                <a href="{% url 'logout' %}">SESIOA ITXI</a>
                <!-- Agrega más enlaces según tus necesidades -->
            </div>
        </div>
        <div id="profile-picture">
           <img  src="img/wander.png" alt="Foto de perfil">
        </div>

        {% else %}
        <div class="sartu">
            <a class="sartuinp" href="{%url 'login'%}">Sartu</a>
        </div>
        {% endif %}
        
    </div>
    <div class="container">
        <div class="container" id="container-avatar">
            <div id="avatar">
                <p id="erregistratup">erregistratu</p>
            </div>
            <div id="subavatar">
                <img id="avatarimg" src="../static/media/logo.png" alt="a">
            </div>
        </div>
    </div>
    <br><br><br><br>

    <div class="container">
        <form id="formulario" action="gehitubezeroaerregistroa/" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
            {%csrf_token%}
        <div class="row mt-3">
            <input id="avatarajax" type="file" name="argazkia" accept="image/*" required>
        </div>

        <div class="row mt-3">
            <div class="col">
                <label for="">Username:</label>
                <input type="text" class="form-control custom-shadow" id="username" placeholder="Sartu usernamea" name="username" required>
            </div>
            <div class="col">  
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="">Izena:</label>
                <input type="text" class="form-control custom-shadow" id="izena" placeholder="Sartu izena" name="izena" required>
            </div>
            <div class="col">
                <label for="">Abizena:</label>
                <input type="text" class="form-control custom-shadow" id="abizena" placeholder="Sartu abizena" name="abizena" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="">Abizena 2: </label>
                <input type="text" class="form-control custom-shadow" id="abizena2" placeholder="Sartu bigarren abizena" name="abizena2" required>
            </div>
            <div class="col">
                <label for="">NAN:</label>
                <input type="text" class="form-control custom-shadow" id="nan" placeholder="Sartu NAN-a" name="nan" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="">Telefonoa:</label>
                <input type="text" class="form-control custom-shadow" id="telefonoa" placeholder="Sartu telefonoa" name="telefonoa" required>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="">Email:</label>
                <input type="text" class="form-control custom-shadow" id="email" placeholder="Sartu email-a" name="email" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="">Pasahitza:</label>
                <input type="password" class="form-control custom-shadow" id="pasahitza" placeholder="Sartu pasahitza" name="pasahitza" required>
            </div>
            <div class="col">
                <label for="">Errepikatu pasahitza:</label>
                <input type="password" class="form-control custom-shadow" id="pasahitza2" placeholder="Errepikatu pasahitza" name="pasahitza2" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="">Helbidea: </label>
                <input type="text" class="form-control custom-shadow" id="helbidea" placeholder="Sartu helbidea" name="helbidea" required>
            </div>
            <div class="col">
                <label for="">PK:</label>
                <input type="text" class="form-control custom-shadow" id="pk" placeholder="Sartu posta kodea" name="pk" required>
            </div>
        </div><br>
            <div class="col text-center"> <!-- Agrega la clase "text-center" para centrar horizontalmente -->
                <button type="submit" id="resetbutton" class="btn btn-lg mt-3 btn-reset">Erregistratu</button>
                <button type="reset" class="btn btn-dark btn-lg mt-3" id="resetButton">Ezabatu</button>
            </div>
            <br>
        </form>
    </div>

    <div id="footer">
        <div  id="Logo">
            <a href=""><img id="logofooter" src="../static/media/logo.png" alt=""></a>
        </div>
        <div  id="Linkak">
            <h3>Linkak</h3>
            <ul>
                <li><a href="#">Faq</a></li>
                <li><a href="#">Estilo Gida</a></li>
                <li><a href="#">Laguntza</a></li>
                <li><a href="#">Bidaltze Politikak</a></li>
            </ul>
        </div>
        <div  id="Kontaktua">
            <h3>Kontaktua</h3>
            <ul>
                <li><a>Eibar, Azpizuri Kalea 24, 20600</a></li>
                <li><a>HozkadaDenda@gmail.com</a></li>
                <li><a>+34 634 95 74 16</a></li>
                <li><a>+34 634 49 96 55</a></li>
            </ul>
        </div>
        <div  id="Sozialak">
            <h3>Sare Sozialak</h3>
            <ul>
                <li>
                    <a href="#"><i class="fab fa-facebook social-icon"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-twitter social-icon"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-instagram social-icon"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Selecciona el input de tipo archivo
            var inputFile = $('#avatarajax');
            var img = $('#avatarimg');
        
            // Almacena la URL de la imagen original
            var initialImageUrl = img.attr('src');
        
            // Agrega un controlador de eventos al input de archivo
            inputFile.change(function() {
                var file = inputFile[0].files[0];
        
                // Verifica si se seleccionó un archivo
                if (file) {
                    var objectURL = URL.createObjectURL(file);
        
                    // Actualiza el src de la imagen con la URL del objeto creado
                    img.attr('src', objectURL);
                }
            });
        
            // Agrega un controlador de eventos al botón de reset
            $('#resetButton').click(function() {
                // Restablece la imagen al valor inicial
                img.attr('src', initialImageUrl);
            });

            //validaciones
             formulario.addEventListener('submit', function(event) { 

                var argazkia = document.getElementById("avatarajax");
                var username = document.getElementById("username");
                var izena = document.getElementById("izena");
                var abizena = document.getElementById('abizena');
                var abizena2 = document.getElementById('abizena2');
                var nan =  document.getElementById('nan');
                var telefonoa =  document.getElementById('telefonoa');
                var email =  document.getElementById('email');
                var pasahitza = document.getElementById('pasahitza');
                var pasahtiza2 = document.getElementById('pasahitza2');
                var helbidea = document.getElementById('helbidea');
                var postakodea = document.getElementById('pk');

                //regex formats
                const emailFormat = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$/; 
                const dniFormat = /^[0-9]{8}[A-Za-z]$/; //spanish dni regex code
                const passwordFormat = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/; //Minimum eight characters, at least one letter and one number:

                //argazkia
                if(argazkia.value == "" || argazkia.value == null) {
                    alert("Argazki bat jarri, mesedez");
                    event.preventDefault();
                    return;
                }

                //usernamea
                if(username.value == "" || username.value == null) {
                    alert("Bete usernamea, mesedez.");
                    username.focus();
                    event.preventDefault();
                    return;
                } else if(username.value.length <= 3 || username.value.length >= 20) {
                    alert("Usernameak 3 letra baino gehiago eta 20 baino gutxiago eduki behar ditu.");
                    event.preventDefault();
                    izena.focus();
                    return;
                }

                //izena
                if(izena.value == null || izena.value == "") {
                    alert("Izena bete, mesedez.");
                    izena.focus();
                    event.preventDefault();
                    return;
                } else if(izena.value.length <= 2) {
                    alert("Izenak 2 karaktere baino gehiago eduki behar ditu.");
                    izena.focus();
                    event.preventDefault();
                    return;
                } else if(/\d/.test(izena.value)) {
                    alert("Izenak ezin du zenbakirik eduki.");
                    izena.focus();
                    event.preventDefault();
                    return;
                }

                //abizena
                if(abizena.value == "" || abizena2.value == "") {
                    alert("Abizenak bete, mesedez.");
                    abizena.focus();
                    event.preventDefault();
                    return;
                } else if(abizena.value.length <= 2 || abizena2.value.length <= 2) {
                    alert("Abizenek 2 karaktere baino gehiago eduki behar dute.");
                    abizena.focus();
                    event.preventDefault();
                    return;
                } else if(/\d/.test(izena.value) || /\d/.test(izena.value)) {
                    alert("Abizenak ezin du zenbakirik eduki.");
                    abizena.focus();
                    event.preventDefault();
                    return;
                }

                //NANa
                if(nan.value == "" || nan.value == null) {
                    alert("NANa bete, mesedez.");
                    nan.focus();
                    event.preventDefault();
                    return;
                } else if(!dniFormat.test(nan.value)) {
                    alert("Nanak ez du formatu egokia, 8 zenbaki eta letra bat eduki behar du.");
                    nan.focus();
                    event.preventDefault();
                    return;
                }

                //telefonoa
                if(telefonoa.value == "" || telefonoa.value == null) {
                    alert("Bete telefonoa, mesedez.");
                    telefonoa.focus();
                    event.preventDefault();
                    return;
                } else if(telefonoa.value.length != 9) {
                    alert("Telefonoak 9 zenbaki eduki behar ditu.");
                    telefonoa.focus();
                    event.preventDefault();
                    return;
                }else if (isNaN(telefonoa.value)) {
                    alert("Telefonoak zenbakiak izan behar dute.");
                    telefonoa.focus();
                    event.preventDefault();
                    return;
                }

                //emaila
                if(email.value == "" || email.value == null) {
                    alert("Bete emaila, mesedez.");
                    email.focus();
                    event.preventDefault();
                    return;
                } else if(!emailFormat.test(email.value)) {
                    alert("Emailak ez du formatu egokia, saiatu berriro.");
                    email.focus();
                    event.preventDefault();
                    return;
                }

                //pasahitza
                if(pasahitza.value == "" || pasahitza2.value == "") {
                    alert("Bete pasahitza, mesedez.");
                    pasahitza.focus();
                    event.preventDefault();
                    return;
                } else if(pasahitza.value != pasahitza2.value) {
                    alert("Pasahitzak ez dira berdinak, sartu berriz.");
                    pasahitza2.focus();
                    event.preventDefault();
                    return;
                } else if(!passwordFormat.test(pasahitza.value)) {
                    alert("Pasahitzak gutxienez 8 karaktere izan behar ditu, zenbaki eta letra batekin.");
                    pasahitza.focus();
                    event.preventDefault();
                    return;
                }

                //helbidea
                if(helbidea.value == "" || helbidea.value == null) {
                    alert("Bete helbidea mesedez.");
                    helbidea.focus();
                    event.preventDefault();
                    return;
                }

                //posta kodea
                if(postakodea.value == "" || postakodea.value == null) {
                    alert("Bete posta kodea, mesedez.");
                    postakodea.focus();
                    event.preventDefault();
                    return;
                }

            });

        });
        </script>

</body>
</html>